<html>
<body>
    <div class="login">
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1>
            <legend>Future Maket Prediction</legend>
        </h1>
        <div class="mb-3">
            <label class="form-label">HK_stock_symbol</label>
            <select class="form-control" name="HK_stock_symbol" placeholder="Enter you HK_stock_symbol" required>
                <option class="placeholder" selected disabled value="">Select your HK_stock_symbol</option>
                <option value="0700">
                    0700
                </option>
                <option value="2688">
                    2688
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">US_stock_symbol</label>
            <select class="form-control" name="US_stock_symbol" placeholder="Enter you US_stock_symbol" required>
                <option class="placeholder" selected disabled value="">Select US_stock_symbol</option>
                <option value="AAPL">
                    AAPL
                </option>
                <option value="MSFT">
                    MSFT
                </option>
                <option value="TSLA">
                    TSLA
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Crypto_symbol</label>
            <select class="form-control" name="Crypto_symbol"
                placeholder="Enter you Crypto_symbol" required>
                <option class="placeholder" selected disabled value="">Select Crypto_symbol</option>
                <option value="BTC">
                    BTC
                </option>
                <option value="ETH">
                    ETH
                </option>
                <option value="SOL">
                    SOL
                </option>
            </select>
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict" required />
        </div>
    </form>
    <h2>
       THE historical prediction plots: 
    </h2>
    <img src="data:image/png;base64, {{ plot_url }}">
   <body>
</html>